header {
  height: 465px;
  background-image: url("/images/newBG2.jpg");
  background-size: cover;
  background-position: center;
  max-height: 465px;
  max-width: 100vw;
  object-fit: contain;
}

.navbar__links {
  padding: 13px 0 0 15px;
  display: flex;
  justify-content: start;
  gap: 15px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 26px;
}

.navbar__link {
  /* Исправьте название класса */
  text-decoration: none;
  background: linear-gradient(45deg, #43362d, #7f4b3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero {
  position: relative;
  margin-top: 50px;
}
.hero__title {
  position: relative;
  text-align: center;
  font-family: "Solway", serif;
  font-size: 58px;
  background: linear-gradient(to bottom, #573923, #a99896);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 11px 0;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
}

.hero__subtitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sofia", cursive;
  font-size: 36px;
  background-color: #4c3f3f;
  color: #ffffff;
  height: 161px;
  border-radius: 5px;
  padding: 0 15px;
  text-align: center;
}
.navbar__burger {
  margin: 0;
  display: none;

  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1000;
}
.navbar__burger span {
  height: 3px;
  width: 100%;
  background: #333;
  transition: all 0.3s ease;
  transition: 0.3s;
  border-radius: 2px;
}
#burger__menu {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}
#burger.active span {
  background: #fff;
}

#burger__menu.active {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 40px; /* отступ от верха */
  left: 0;
  width: 100%;
  background: #4c3f3f !important; /* ваш цвет фона */
  padding: 20px;
  z-index: 1000;
  gap: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(0);
}

#burger__menu.active .navbar__link {
  display: block !important;
  padding: 15px 0;
  text-decoration: none;
  color: white !important; /* белый текст для контраста */

  font-size: 36px;
  text-align: center;
  -webkit-text-fill-color: white !important; /* переопределяем градиент */
  background: none !important; /* убираем градиент */
}

#burger__menu.active .navbar__link:last-child {
  border-bottom: none;
}
