@media (max-width: 1300px) {
  .arrivals {
    font-size: 40px;
  }
  .card__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .card__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: "Sofia", cursive;
    font-size: 30px;
    font-weight: 400;
  }
  .card__arrow {
    position: absolute;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    z-index: 2;
    width: 200px;
  }
  .card__arrow--reverse {
    transform: translateX(-50%) scaleX(-1);
  }
  .menu__items {
    margin-top: 50px;
  }
  .menu__item {
    gap: 100px;
    padding: 20px 70px;
  }
  .about__text {
    font-size: 24px;
  }
  .about__image {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 1200px) {
  .about__text {
    margin: 15px 0 0;
    font-size: 22px;
  }
  .about__content {
    padding: 80px 50px 50px 70px;
  }
}
@media (max-width: 1000px) {
  .about__image {
    width: 350px;
    height: 350px;
  }
  .about__text {
    margin: 15px 0 0;
    font-size: 18px;
  }
  .about__title {
    font-size: 40px;
  }
}
@media (max-width: 900px) {
  .about__image {
    display: none;
  }
  .about__text {
    margin: 10px 0 0;
    font-size: 22px;
  }
  .about__title {
    font-size: 36px;
  }
  .about__content {
    padding: 25px;
  }
}
@media (max-width: 800px) {
  .card__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .card__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: "Sofia", cursive;
    font-size: 26px;
    font-weight: 400;
  }
  .card__arrow {
    position: absolute;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    z-index: 2;
    width: 180px;
  }
  .card__arrow--reverse {
    transform: translateX(-50%) scaleX(-1);
  }

  .header {
    height: 400px;
  }
  .menu__name {
    font-size: 26px;
  }
  .menu__price {
    font-size: 26px;
  }
  .about__text {
    font-size: 20px;
  }

  .about__title {
    font-size: 34px;
  }
  .about__content {
    padding: 20px;
  }
}
@media (min-width: 601px) {
    .navbar__links {
        display: flex !important;
    }
    .navbar__burger {
        display: none !important;
    }
}
@media (max-width: 600px) {
  .header {
    height: 300px;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .menu__name {
    font-size: 22px;
  }
  .menu__price {
    font-size: 20px;
  }
  .menu__item {
    padding: 20px 40px;
  }
  .menu__items {
    margin-top: 30px;
  }
  .about__text {
    font-size: 18px;
  }
  .about__title {
    font-size: 32px;
  }
  .about__content {
    padding: 15px;
  }
  .contacts__item {
    font-family: "Solway", serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    width: 355px;
    list-style: none;
    text-align: center;
    margin-top: 30px;
  }
  .footer__subtitle {
    font-size: 30px;
  }

  /* ИСПРАВЛЕННЫЙ КОД ДЛЯ БУРГЕРА */
  .navbar__links:not(.active) {
    display: none !important;
  }

  .navbar__burger {
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    gap: 5px;
    height: auto;
    margin-top: 10px;
  }
  #burger.active {
    z-index: 1001; /* выше чем меню */
  }

  /* Добавьте это для белого цвета */
  #burger.active span {
    background: #fff !important;
  }
}

@media (max-width: 500px) {
  .hero__title {
    font-size: 38px;
  }
  .hero__subtitle {
    font-size: 22px;
  }

  .cards {
    position: relative;
    min-height: 500px;
    margin: 50px 50px 50px 70px;
  }

  .card__arrow {
    display: none;
  }
  .card__arrow--reverse {
    display: none;
  }
  .menu__name {
    font-size: 18px;
  }
  .menu__price {
    font-size: 16px;
  }
  .menu__item {
    display: flex;
    gap: 30px;
    padding: 20px 20px;
  }
  .menu__items {
    margin-top: 10px;
    gap: 5px;
  }
  .footer__subtitle {
    font-size: 26px;
  }
}
